.sidebar {
  background-color: var(--blue);
  padding: var(--min-padding);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  display: block;
}

@container (min-width: 768px) {
  .sidebar {
    width: clamp(150px, 15cqw, 40cqw);
  }
}
