.workListItem {
    text-decoration: none;
    color: var(--primary-color);
    display: block;
}

a.workListItem:hover>div {
    border: 2px solid var(--orange);
}

.workListItem>div {
    padding: 1rem;
    background-color: var(--main-bg-color);
    border: 2px solid transparent;
    border-radius: 0.5rem;
    transition: 0.1s ease-in;
}

.arrowRight {
    display: inline-block;
    fill: var(--secondary-color);
}

.separator {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    height: 2px;
    background-color: var(--secondary-color-lighter);
}