.container {
  display: grid;
  container-type: size;
  grid-template-rows: max-content 1fr;
  height: 100cqh;
}

.contentContainer {
  padding: 0.5rem;
  overflow-y: auto;
  container-type: size;
}

.subheadContainer {
  container-type: size;
  display: block;
}

@container (width > 768px) {
  .subheadContainer {
    container-type: size;
    display: grid;
    grid-template-columns: auto 1fr;
  }
}